body {
	background: linear-gradient(
		rgba(0, 0, 0, 0.8),
		rgba(0, 0, 0, 0.8)
	), url(../img/feature_graphic.png),
	linear-gradient(to right,
		rgba(29, 174, 252, 1),
		rgba(2, 216, 250, 1));
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
	font-size: medium;
	color: white;
	clear: both;
	overflow-x: hidden;
}

#donate-button-container {
	margin-top: 20px;
}

img#donate-button {
	display: block;
	margin: 0 auto;
	max-width: 50%;
}

div.readme {
	margin: 0 auto;
}

div.readme a {
	display: inline-block;
}

div.readme img {
	max-width: 80%;
	margin: 10px;
}

@media screen and (max-width: 640px) {
	img#donate-button {
		max-width: 75%;
	}
}

p.google img {
	display: block;
	margin: 0 auto;
	max-width: 50%;
}

.navigation {
	padding-top: 15px;
  padding-left: 30px;
  display: flex;
  align-items: center;
}
.navigation img {
  width: 40px;
  height: 40px;
}
.navigation span {
	font-size: 1.5em;
  padding: 0 10px;
}